<header class="banner">
    <div class="logo pull-left"><%= image_tag "logo.svg" %></div>
    <hgroup class="wordmark">
        <h1>Drug Discovery @ TEXAS ADVANCED COMPUTING CENTER</h1>
        <h2>Powering Discoveries That Change The World</h2>
    </hgroup>
    <div class="logo pull-right"><%= image_tag "ut.png", style: "width='120' height='52' alt='UT Logo'" %></div>
</header>

<nav class="navbar">
    <div class="container">
        <div id="navbar">
        <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Documentation", documentation_path %></li>
            <li><%= link_to "FAQ", faq_path %></li>
        </ul>
        </div>
    </div>
</nav>