<% content_for :title, "FAQ | DrugDiscovery@TACC" %>

<div id="faqs">

  <h1>Frequently Asked Questions</h1>

  <h3 class="">What is DrugDiscovery@TACC?</h3>
  <div >
    <p>This is formerly the TACC- and University of Texas Medical Branch (UTMB)-hosted web-resource for running molecular docking software. This service has been re-written, updated with new features, and moved to TACC's <a href="https://utrc.tacc.utexas.edu/">UTRC Portal</a>. The application is listed as Autodock-Vina 1.2.3.</p>
    <p>This new application provides controlled access to molecular docking software running on the <a href="https://www.tacc.utexas.edu/systems/lonestar6" target="_blank">Lonestar 6</a> supercomputer at TACC (Texas Advanced Computing Center). Approved users can login to the UTRC Portal, upload a protein coordinate file (PDB or PDBQT format) along with an active-site specification, and dock that protein against libraries containing up to millions of small, drug-like, or natural product molecules. These libraries were extracted from the ZINC database and kindly provided by Dr. John Irwin. Libraries were filtered to include only commercially-available (i.e., readily available for purchase from established chemical supply companies) compounds. This portal was originally developed by researchers at the University of Texas Medical Branch and then ported to TACC. Finally, it was re-written in 2023 and moved to the UTRC Portal.</p>
    <p><strong>Note:</strong>Computer docking and virtual screening are inexact, but potentially very valuable, tools. This site is intended to provide easy access to researchers wishing to perform small numbers of docking or virtual screening experiments, but who do not have the necessary computer resources and/or computational biology backgrounds. This interface can handle most protein-ligand docking experiments, but there will always be systems where this simple interface will fail. For those cases, researchers will need to develop the necessary expertise or collaborations to perform the experiment.</p>
  </div>

  <h3 class="">How do I retrieve my data from the old DrugDiscovery website?</h3>
  <div>
    <p>Submit a ticket <a href="https://portal.tacc.utexas.edu/tacc-consulting">here</a>.</p>
  </div>

  <h3 class="">How can I get access to the UTRC Portal?</h3>
  <div >
    <p>Request an account from TACC via the TACC User Portal at <a href="https://portal.tacc.utexas.edu/account-request" target="_blank">https://portal.tacc.utexas.edu/account-request</a>.</p>
  </div>

  <h3 class="">What docking software is used?</h3>
  <div >
    <p><a href="http://vina.scripps.edu/" target="_blank">Autodock Vina</a> [1], written by Drs. O. Trott and A. Olson at the Scripps Institute is used to perform the actual docking. This open-source program has been made freely available by the authors.</p>
    <p><a href="http://autodock.scripps.edu/resources/adt/index_html/" target="_blank">AutodockTools</a>, written by Drs. G. Morris and A. Olson at the Scripps Institute is used to convert proteins and ligands to the format required by AutoDock Vina. This open-source program has been made freely available by the authors.</p>
    <p>[1] "AutoDock Vina: Improving the Speed and Accuracy of Docking with a New Scoring Function, Efficient Optimization and Multithreading", (2010) O. Trott and A. J. Olson, J. Comp. Chem. 31, 455-461.</p>
  </div>

  <h3 data-anchor="dud" id="h3dud" class="">How good is the docking software?</h3>
  <div ><a href="#dud"></a>
    <p>Before using Autodock Vina for this project, it was tested in-house against the <a href="http://dud.docking.org/" target="_blank">Directory of Useful Decoys (DUD) Database</a> [1], a database designed specifically for rigorously testing docking algorithms. The testing protocol was taken from an earlier paper[2] written at Wyeth Research that tested six molecular docking programs against the DUD database. </p>
    <p>For each protein listed in the DUD database[1], the enrichment plots shown below describe the performance of Autodock Vina against that of other molecular docking software (e.g., GLIDE HTVS, PhDOCK, ICM, DOCK, Surflex, FlexX) as well as random and ideal enrichments. Also listed are the sizes of the DUD decoy library and known binders used for virtual screening against each DUD protein. Data for the non-Vina molecular docking programs was kindly provided by Dr. Cross and was reported earlier by his group[2]. The results shown below indicated Autodock Vina was a strong competitor against the other programs, and at the top of the pack in many cases.</p>
    <p>
    </p><table class="table table-striped table-bordered">
      <thead>
        <tr><th rowspan="2">DUD Protein</th><th colspan="2">DUD Library</th></tr>
        <tr><th># of decoys</th><th># of binders</th></tr>
      </thead>
      <tbody><tr><td><%= link_to "AngiotensinConvertingEnzyme", image_url("dudresults/AngiotensinConvertingEnzyme.jpg"), target: :blank %></td><td>1727</td><td>49</td></tr>
        <tr><td><%= link_to "AcetylcholineEsterase", image_url("dudresults/AcetylcholineEsterase.jpg"), target: :blank %></td><td>3714</td><td>105</td></tr>
        <tr><td><%= link_to "AdenosineDeaminase", image_url("dudresults/AdenosineDeaminase.jpg"), target: :blank %></td><td>821</td><td>23</td></tr>
        <tr><td><%= link_to "AldoseReductase", image_url("dudresults/AldoseReductase.jpg"), target: :blank %></td><td>918</td><td>26</td></tr>
        <tr><td><%= link_to "AmpCbetaLactamase", image_url("dudresults/AmpCbetaLactamase.jpg"), target: :blank %></td><td>732</td><td>21</td></tr>
        <tr><td><%= link_to "AndrogenReceptor", image_url("dudresults/AndrogenReceptor.jpg"), target: :blank %></td><td>2628</td><td>74</td></tr>
        <tr><td><%= link_to "CyclinDependentKinase2", image_url("dudresults/CyclinDependentKinase2.jpg"), target: :blank %></td><td>1779</td><td>50</td></tr>
        <tr><td><%= link_to "CatecholOMethyltransferase", image_url("dudresults/CatecholOMethyltransferase.jpg"), target: :blank %></td><td>430</td><td>11</td></tr>
        <tr><td><%= link_to "CycloOxygenase1", image_url("dudresults/CycloOxygenase1.jpg"), target: :blank %></td><td>849</td><td>25</td></tr>
        <tr><td><%= link_to "CycloOxygenase2", image_url("dudresults/CycloOxygenase2.jpg"), target: :blank %></td><td>12464</td><td>348</td></tr>
        <tr><td><%= link_to "DihydrofolateReductase", image_url("dudresults/DihydrofolateReductase.jpg"), target: :blank %></td><td>7145</td><td>201</td></tr>
        <tr><td><%= link_to "EpidermalGrowthFactorReceptor", image_url("dudresults/EpidermalGrowthFactorReceptor.jpg"), target: :blank %></td><td>14894</td><td>444</td></tr>
        <tr><td><%= link_to "EstrogenReceptor_agonist", image_url("dudresults/EstrogenReceptor_agonist.jpg"), target: :blank %></td><td>2355</td><td>67</td></tr>
        <tr><td><%= link_to "EstrogenReceptor_antagonist", image_url("dudresults/EstrogenReceptor_antagonist.jpg"), target: :blank %></td><td>1395</td><td>39</td></tr>
        <tr><td><%= link_to "FibroblastGrowthFactorReceptor1", image_url("dudresults/FibroblastGrowthFactorReceptor1.jpg"), target: :blank %></td><td>4205</td><td>118</td></tr>
        <tr><td><%= link_to "CoagulationFactorXa", image_url("dudresults/CoagulationFactorXa.jpg"), target: :blank %></td><td>5095</td><td>142</td></tr>
        <tr><td><%= link_to "GlycinamideRibonucleotideTransformylase", image_url("dudresults/GlycinamideRibonucleotideTransformylase.jpg"), target: :blank %></td><td>753</td><td>21</td></tr>
        <tr><td><%= link_to "GlycogenPhosphorylase", image_url("dudresults/GlycogenPhosphorylase.jpg"), target: :blank %></td><td>1850</td><td>52</td></tr>
        <tr><td><%= link_to "GlucocorticoidReceptor", image_url("dudresults/GlucocorticoidReceptor.jpg"), target: :blank %></td><td>2797</td><td>78</td></tr>
        <tr><td><%= link_to "HIVprotease", image_url("dudresults/HIVprotease.jpg"), target: :blank %></td><td>1885</td><td>53</td></tr>
        <tr><td><%= link_to "HIVReverseTranscriptase", image_url("dudresults/HIVReverseTranscriptase.jpg"), target: :blank %></td><td>1437</td><td>40</td></tr>
        <tr><td><%= link_to "HydroxymethylglutarylCoAReductase", image_url("dudresults/HydroxymethylglutarylCoAReductase.jpg"), target: :blank %></td><td>1241</td><td>35</td></tr>
        <tr><td><%= link_to "HeatShockProtein90", image_url("dudresults/HeatShockProtein90.jpg"), target: :blank %></td><td>860</td><td>24</td></tr>
        <tr><td><%= link_to "EnoylACPReductase", image_url("dudresults/EnoylACPReductase.jpg"), target: :blank %></td><td>3035</td><td>85</td></tr>
        <tr><td><%= link_to "MineralocorticoidReceptor", image_url("dudresults/MineralocorticoidReceptor.jpg"), target: :blank %></td><td>535</td><td>15</td></tr>
        <tr><td><%= link_to "Neuraminadase", image_url("dudresults/Neuraminadase.jpg"), target: :blank %></td><td>1745</td><td>49</td></tr>
        <tr><td><%= link_to "P38MAPKinase", image_url("dudresults/P38MAPKinase.jpg"), target: :blank %></td><td>8387</td><td>256</td></tr>
        <tr><td><%= link_to "PolyADPRibosePolymerase", image_url("dudresults/PolyADPRibosePolymerase.jpg"), target: :blank %></td><td>1176</td><td>33</td></tr>
        <tr><td><%= link_to "Phosphodiesterase5A", image_url("dudresults/Phosphodiesterase5A.jpg"), target: :blank %></td><td>1809</td><td>51</td></tr>
        <tr><td><%= link_to "PlatletDerivedGrowthFactorReceptorB", image_url("dudresults/PlatletDerivedGrowthFactorReceptorB.jpg"), target: :blank %></td><td>5614</td><td>157</td></tr>
        <tr><td><%= link_to "PurineNucleosidePhosphorylase", image_url("dudresults/PurineNucleosidePhosphorylase.jpg"), target: :blank %></td><td>882</td><td>25</td></tr>
        <tr><td><%= link_to "PPARgamma", image_url("dudresults/PPARgamma.jpg"), target: :blank %></td><td>2906</td><td>81</td></tr>
        <tr><td><%= link_to "ProgesteroneReceptor", image_url("dudresults/ProgesteroneReceptor.jpg"), target: :blank %></td><td>967</td><td>27</td></tr>
        <tr><td><%= link_to "RXRalpha", image_url("dudresults/RXRalpha.jpg"), target: :blank %></td><td>708</td><td>20</td></tr>
        <tr><td><%= link_to "SAdenosylHomocysteineHydrolase", image_url("dudresults/SAdenosylHomocysteineHydrolase.jpg"), target: :blank %></td><td>1159</td><td>33</td></tr>
        <tr><td><%= link_to "TyrosineKinaseSRC", image_url("dudresults/TyrosineKinaseSRC.jpg"), target: :blank %></td><td>5793</td><td>155</td></tr>
        <tr><td><%= link_to "Thrombin", image_url("dudresults/Thrombin.jpg"), target: :blank %></td><td>2292</td><td>65</td></tr>
        <tr><td><%= link_to "ThymidineKinase", image_url("dudresults/ThymidineKinase.jpg"), target: :blank %></td><td>784</td><td>22</td></tr>
        <tr><td><%= link_to "Trypsin", image_url("dudresults/Trypsin.jpg"), target: :blank %></td><td>1544</td><td>44</td></tr>
        <tr><td><%= link_to "VascularEndothelialGrowthFactorReceptor2", image_url("dudresults/VascularEndothelialGrowthFactorReceptor2.jpg"), target: :blank %></td><td>2641</td><td>74</td></tr>
      </tbody></table>
      <p></p>
      <p>[1] "Benchmarking Sets for Molecular Docking", (2006) N. Huang, B. K. Shoichet, and John Irwin J. Med. Chem. 49, 6789-6801.</p>
      <p>[2] "Comparison of Several Molecular Docking Programs: Pose Prediction and Virtual Screening Accuracy", (2009) J. B. Cross, D. C. Thompson, B. K. Rai, J. C. Baber, K. Y. Fan, Y. Hu, and C. Humblet, J. Chem. Inf. Model. 49, 1455-1474.</p>
    </div>

    <h3 class="">What will the UTRC Portal return to me?</h3>
    <div >
        <p>
        </p><table class="table table-striped table-bordered"><tbody>
            <tr><td><strong>error.txt</strong></td><td>An error file that will only be generated if the job is submitted with invalid input parameters. Please check this first if your job fails.</td></tr>
            <tr><td>results.tar.gz</td><td>A folder containing the top N (user-specified; up to 1000) binders, each with their top pose in PDBQT format.
              Additionally, a log file listing all results in score order; best (most negative) score comes first. The ligands are referenced by ZINC codes, and these can be extracted and pasted into the <a href="http://zinc.docking.org/search/structure.php" target="_blank">ZINC web site</a> to return chemical structures, catalog numbers, etc. Finally, it includes a single file containing the top N binders concatonated together, for ease of use in comparison with molecular visualization software.</td></tr>
            <tr><td>Protein</td><td>A file containing the target protein in PDBQT format. It will also return the PDB file you uploaded, if applicable.</td></tr>
            <tr><td>vina_1.2.3.0.sif</td><td>The container image used by our supercomputer to build the necessary runtime environment.</td></tr>
            <tr><td>.agave.log</td><td>An internal log file.</td></tr>
            <tr><td>job.err</td><td>A log file showing stderr.</td></tr>
            <tr><td>job.out</td><td>A log file showing stdout.</td></tr>
            </tbody></table>
            <p></p>
    </div>

    <h3 class="">What small-molecule libraries are available?</h3>
    <div >
        <ol>
            <li>
            <a href="https://enamine.net/hit-finding/compound-collections/screening-collection/premium-collection">Enamine-PC</a>: The Enamine Premium Collection contains 43,339 compounds having most favorable physicochemical properties (high Fsp3, low LogP and MW). They have been synthesized in Enamine's lead-oriented synthesis program. Including enantiomers, this library contains 84,359 molecules.
            </li>
            <li>
            <a href="https://enamine.net/hit-finding/compound-collections/screening-collection/advanced-collection">Enamine-AC</a>: The Enamine Advanced Collection contains 445,239 compounds that have lead-like properties with MW ≤ 350, cLogP ≤ 3, and rotB ≤ 7 and/or valuable pharmacophores such carboxylic, primary amino and amide groups. All compounds are checked with Enamine's in-house medchem filters. Including enantiomers, this library contains 876,985 molecules.
            </li>
            <li>
            <a href="https://enamine.net/hit-finding/compound-collections/screening-collection/hts-collection">Enamine-HTSC</a>: The Enamine HTS Collection contains 2,141,514 diverse screening compounds. The collection encompasses versatile chemotypes developed within a couple of decades of chemical research at Enamine and its partner academic organizations. These compounds frequently have unusual structures and unique properties. The collection is particularly recommended by Enamine for the researchers looking for most diverse screening set. Including enantomers, this library contains 3,467,770 molecules.
            </li>
            <li>
            <a href="https://zinc15.docking.org/tranches/home/">ZINC-fragments</a>: This is a ZINC "fragment" subset which was filtered by the following criteria: MW ≤ 250 Da, LogP 1-4, reactivity = Anodyne. The set contains 546,003 fragments.
            </li>
            <li>
            <a href="https://zinc15.docking.org/substances/subsets/in-trials/">ZINC-in-trials</a>: This is the ZINC "in-trials" subset which includes "Compounds that are in clinical trials, including ones that are already drugs." The set contains 9,270 molecules.
            </li>
        </ol>
    </div>

    <h3 class="">Are any changes made to my protein before it is docked?</h3>
    <div >
        <p>Before being utilized by Autodock Vina, any uploaded PDB protein is, by necessity, converted to the PDBQT format. This involves stripping all heteroatoms (including waters), re-protonating all atoms, and reassigning Gasteiger charges to all atoms. This conversion is done using tools (prepare_receptor4.py) provided in AutoDockTools. The PDBQT formatted protein is eventually returned as part of the results for your inspection.</p>
        <p>If you wish to avoid these automated conversion steps, provide your protein file already in PDBQT format. None of the above processing steps are performed on protein files already in the PDBQT format. Information on how to generate PDBQT files for proteins (including assigning hydrogens to His residues) can be found in the AutoDockTools <a href="http://autodock.scripps.edu/resources/autoligand/AutoLigand_tutorial.pdf" target="_blank">manual</a> and <a href="http://autodock.scripps.edu/faqs-help/tutorial" target="_blank">tutorial</a>.</p>
    </div>

    <h3 class="">How long will the docking take?</h3>
    <div>
        <p>Screening times will vary according to the library you select. The ~46,000 compound library takes around 2 hours and ~650,000 library can take up to 24 hours to complete. These times do not include the wait time in the queue of Lonestar. Queue time depends on how busy Lonstar is when you submit your job. You can check how busy Lonestar is and see if it is in maintenence on the TACC User Portal's <a href="https://portal.tacc.utexas.edu/system-monitor" target="_blank">systems monitor page</a>.</p>
    </div>
    <div class='spacing'></div>
</div>
